@import com.github.windbird.web.Goal

@(courseGoals: Seq[Goal], query: String = "")

@html.main("htmx-test") {
    <div class="container">
        <h1>htmx test</h1>
        @* hx-on:htmx:after-request="this.reset()" *@
        @* hx-disabled-elt 는 request 가 진행되는 동안 지정된 selector element 를 disable *@
        <section>
            <form id="goal-form" hx-post="/goal" hx-target="#goals" hx-swap="beforeend"
            hx-on:htmx:after-request="document.querySelector('form').reset()"
            hx-disabled-elt="form button" hx-vals='{"courseId": 1}'>
                <h2>Add a new goal</h2 >
                <div>
                    <label for="goal">Goal</label>
                    <input type="text" id="goal" name="goal" />
                </div>
                <button type="submit">Add goal</button>
            </form>
        </section>

        <section>
            <ul id="goals">
            @for(goal <- courseGoals) {
                @share.html.goal_row(goal.id, goal.text)
            }
            </ul>
        </section>

        @* /htmx-test 로 항상 전체 body 를 받고, hx-select 로 #result 부분만 가져와 업데이트하는 방법도 있음 *@
        <form hx-get="/htmx-test" hx-target="#result" data-update-url>
            <input type="text" name="query" value="@query">
            <button type="submit">검색</button>
        </form>
        <div id="result">@share.html.query_result(query)</div>

    </div>
}
